body {
  background-size: cover;

}
ul{
    margin:0px;
    }
.helptext{
    display:none;}
li{
    list-style-type:none;
    margin-left: 5px;
    font-size: 18px;
    font-family: serif;
    color: #d30d0d;
}
div .form-group{
display:none;
}
span{
font-size:10px;
text-transform:initial;
position:absolute;
margin:0 0 20px 0;

}
form{
margin:auto;
}
.login-panel {
    margin:auto;
    width: 50%;
    height: 544px; /*665*/
    background-color: #fff;
    margin-top:40px;
}

.login-panel div {
    width: 50%;
    height: 100%;
    float: left;
    display:flex;
    flex-flow:wrap;
    align-items:center;
}

.left-side {
    background: url("/static/images/register_cover.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 600px 600px;

    
}

.right-side {
    padding: 35px 25px 0 25px;
    box-sizing: border-box;
}

.right-side h1 {
    text-transform: uppercase;
    margin: 0;
}

.right-side p {
    font-size: 10px;
    color: #888;
    margin-top: 0;
    text-transform: lowercase;
}

.right-side input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #888;
}

input.submit-btn {
    margin:50px;
    margin-bottom:0;
    border: 2px solid #000;
    border-radius: 15px;
    width: 100px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 900;
    padding: 5px;
}
input.submit-btn:hover {
  background:
    linear-gradient(
      120deg,
      rgba(63, 94, 251, 1),
      rgba(106, 208, 217, 1)
    );
  border: 0;
  color: #fff;
  cursor: pointer;
}


*:focus {
    outline: none;
}