{% extends 'dashboard/base.html' %} 
{% load static %}

{% block content %}
    <section class="text-center">
        <div class="container">
            <h2>Bookmarks</h2>
            <table class="table table-striped table-bordered table-hover table-light">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Category</th>
                        <th scope="col">Url</th>
                        <th scope="col">Delete</th>

                    </tr>
                </thead>
                <tbody>
                    {% for bookmark in bookmarks %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{bookmark.title}}</td>
                        <td>{{bookmark.category}}</td>
                        <td><a href="{{bookmark.url}}">{{bookmark.url}}</a></td>
                        <input type="hidden" value="{{bookmark.title}}" name="title"> 
                        <td><a href="{% url 'delete-bookmark' bookmark.id %}">
                            <i class="fa fa-trash fa-2x"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </section>

{% endblock content %}