{% extends 'dashboard/base.html' %} 
{% load static %} 
{% load crispy_forms_tags %}
{% block content %}
<div class="container text-center">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <legend class = "border-bottom mb-4"></legend>
            {{form|crispy}}
            <button href="" class="btn btn-outline-info" type="submit">
                Select
            </button>
        </div>
        {% if input %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"></legend>
            <div class="column" align ="center">
                <div class ="col-md-4">
                    {{m_form.input|as_crispy_field}}
                </div>
                <div class ="col-md-4">
                    {{m_form.measure1|as_crispy_field}}
                </div>
                <div class ="col-md-4">
                    {{m_form.measure2|as_crispy_field}}
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            {{answer}}
        </fieldset>
        <div class="form-group">
            <button href="" class="btn btn-outline-info" type="submit">
                Convert
            </button>
        </div>
        {% endif %}
    </form>
</div>

{% endblock content %}