{% extends 'dashboard/base.html' %} 
{% load static %}
{% block content %}

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-5">
          <br /><br />
          <h2 style="text-align: center"><b>Welcome To Study Pod</b></h2>
          <div style="font-size: 10px; text-align: center">
            <br /><br />
            <h4><p>
              Welcome to <b>StudyPod</b>. Using this application, the student can do CRUD operations on to-do lists and lecture notes. Student can even make assign homework with due date and the list will 
              sort automatically based on the priority of due date. The application will have many in-built features 
              such as YouTube video search bar, Wikipedia search bar, Buy or read study books online, Online 
              Dictionary and Online numerical Conversions which can be accessed by user very easily.
            </p>
          </h4>
          </div>
          <br />

        </div>
        <div class="col-lg-5">
          <img
            src= " {% static 'images/Study Pod.jpg' %} "
            width="650px"
            height="400px"
            style="border-radius: 25px"
          />
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
    <br /><br /><br /><br /><br /><br />

    <h2 style="text-align: center"><b>Features</b></h2>
    <br /><br />

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <center>
            <a href="{% url 'notes' %}">
            <img
              src=" {% static 'images/notes.jpg' %} "
              width="300px"
              height="300px"
              style="border-radius: 25px"
            />
          </a>
          </center>
          <br />
          <h2 style="text-align: center"><b>Notes</b></h2>
          <div style="font-size: 15px; text-align: center">
            

            <p>Create Notes to refer them later.
            They are stored permanently until deleted</p>
          </div>
          <br />
         
        </div>

        <div class="col-md-3">
          <center>
          <a href="{% url 'homework' %}"><img
              src="{% static 'images/homework.jpg' %} "
              width="300px"
              height="300px"
              style="border-radius: 25px"
            /></a>
          </center>
          <br />
          <h2 style="text-align: center"><b>Homework</b></h2>
          <div style="font-size: 15px; text-align: center">
            

            <p>Add homeworks and assign them deadlines.
            They will be displayed prioritised by deadlines.</p>
          </div>
          <br />
         
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
    <br /><br />

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <center>
            <a href="{% url 'books' %}"><img
              src=" {% static 'images/books.jpg' %} "
              width="300px"
              height="300px"
              style="border-radius: 25px"
            /></a>
          </center>
          <br />
          <h2 style="text-align: center"><b>Books</b></h2>
          <div style="font-size: 15px; text-align: center">
          

            <p>Browse books from a list of neatly organised book menu</p>
          </div>
          <br />
          
        </div>

        <div class="col-md-3">
          <center><a href="{% url 'todo' %}">
            <img
              src=" {% static 'images/todo.jpg' %} "
              width="300px"
              height="300px"
              style="border-radius: 25px"
            /></a>
          </center>
          <br />
          <h2 style="text-align: center"><b>To Do</b></h2>
          <div style="font-size: 15px; text-align: center">
        

            <p>Add homeworks and assign them deadlines.
             They will be displayed prioritised by deadlines</p>
          </div>
          <br />
          
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>

    <br /><br />

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <center><a href="{% url 'dictionary' %}">
            <img
              src=" {% static 'images/dictionary.jpg' %} "
              width="300px"
              height="300px"
              style="border-radius: 25px"
            /></a>
          </center>
          <br />
          <h2 style="text-align: center"><b>Dictionary</b></h2>
          <div style="font-size: 15px; text-align: center">
           
            <p>
              A vocabulary from a book is troubling you? No problem, enter the
              word, and the meaning will be displayed almost instantaneously.</p>
          </div>
          <br />
         
        </div>

        <div class="col-md-3">
          <center><a href="{% url 'youtube' %}">
            <img
              src=" {% static 'images/youtube.jpg' %} "
              width="300px"
              height="300px"
              style="border-radius: 25px"
            /></a>
          </center>
          <br />
          <h2 style="text-align: center"><b>Youtube</b></h2>
          <div style="font-size: 15px; text-align: center">
            <p>Search Youtube and select your desired video to play it on youtube</p>
          <br />
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>

    <br /><br />
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <center><a href="{% url 'wiki' %}">
            <img
              src="{% static 'images/wikipedia.jpg' %}"
              width="300px"
              height="300px"
              style="border-radius: 25px"
            /></a>
          </center>
          <br />
          <h2 style="text-align: center"><b>Wikipedia</b></h2>
          <div style="font-size: 15px; text-align: center">
            

            <p>Homework and Assignments? Search wikipedia to get fast results</p>
          </div>
          <br />
         
        </div>

        <div class="col-md-3">
          <center><a href="{% url 'conversion' %}">
            <img
              src="{% static 'images/conversions.jpg' %}"
              width="300px"
              height="300px"
              style="border-radius: 25px"
            /></a>
          </center>
          <br />
          <h2 style="text-align: center"><b>Conversions</b></h2>
          <div style="font-size: 15px; text-align: center">
            

            <p>Check out the conversion table, that helps you to convert measurements to more familiar ones of your choice.</p>
          </div>
          <br />
         
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>



    <footer class="bg-dark text-center text-white">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Facebook -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-facebook-f"></i
          ></a>
    
          <!-- Twitter -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-twitter"></i
          ></a>
    
          <!-- Google -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-google"></i
          ></a>
    
          <!-- Instagram -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-instagram"></i
          ></a>
    
          <!-- Linkedin -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-linkedin-in"></i
          ></a>
    
          <!-- Github -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-github"></i
          ></a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" href=" ">Studypod.com</a>
      </div>
      <!-- Copyright -->
    </footer>

  </body>


{% endblock content %}