{% extends 'dashboard/base.html' %} 
{% comment %} {% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Log In</legend>
      {{form|crispy}}
    </fieldset>
    <div class="form-group">
      <button href="" class="btn btn-outline-info" type="submit">
        Sign In
      </button>
    </div>
  </form>
  <div class="border-top pt-3">
    <small class="text-muted">Need an Account?
      <a class="ml-2" href="{% url 'register' %}">Create an Account</a>
    </small>
  </div>
</div>

{% endblock content %} {% endcomment %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
 


<section class="login-panel">
    <div class="left-side"></div>
    <div class="right-side">
        <h1>Login<br></h1>
        <form method='post'>
            {%csrf_token%}
            {{form}}
            <input type="submit" value="Login" class="submit-btn">
        </form>
        <small class="text-muted">
            Don't Have An Account? <a class="ml-2" href="{% url 'register' %}">Register</a>
        </small>

    </div>
</section>
{% endblock content %}