{% extends 'dashboard/base.html' %} 
{% load static %}
{% block content %}

<div class="border-top pt-3 text-center">
  <h2>You are logged Out</h2>

  <small class="text-muted"
    ><a class="btn btn-info" href="{% url 'login' %}">Log In Again</a>
  </small>
</div>

{% endblock content %}