{% extends 'dashboard/base.html' %} 
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <section class="text-center">
        <div class="container">
            <h2>Marks</h2>
            <table class="table table-striped table-bordered table-hover table-light">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Subject Name</th>
                        <th scope="col">Marks</th>
                        <th scope="col">Grade</th>

                    </tr>
                </thead>
                <tbody>
                    {% for mark in marks %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{mark.subject}}</td>
                        <td>{{mark.marks}}</td>
                        <td>{{mark.get_grade}}</a></td>
                        <td><a href="{% url 'delete-mark' mark.id %}">
                            <i class="fa fa-trash fa-2x"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </section>


<section class="text-center">

    <div class="container">
        <form method="POST" action="{% url 'add-marks' %}">
            {% csrf_token %}
                <div class="col">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Subject" name="subject">
                  </div><br>
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Marks" name="mark">
                  </div><br>
                </div><br>
                <button href="" class="btn btn-outline-info" type="submit">Upload</button>

        </form>
    </div>

{% comment %} 
    <script>
        var xValues = [{% for i in subject %}i, {% endfor %}]
        var yValues = [{% for i.score in marks %} i, 
        {% endfor %}]
        var barColors = [
          "#b91d47",
          "#00aba9",
          "#2b5797",
          "#e8c3b9",
          "#1e7145"
        ];
        
        new Chart("myChart", {
          type: "pie",
          data: {
            labels: xValues,
            datasets: [{
              backgroundColor: barColors,
              data: yValues
            }]
          },
          options: {
            title: {
              display: true,
              text: "World Wide Wine Production 2018"
            }
          }
        });
        </script> {% endcomment %}
</section>
{% endblock content %}