{% extends 'dashboard/base.html' %} 
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}
{% block content %} 
<section class="login-panel">
    <div class="left-side"></div>
    <div class="right-side">
        <h1>Registration<br></h1>
        <form method='post'>
            {%csrf_token%}
            {{form}}
            <input type="submit" value="Register" class="submit-btn">
        </form>
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{% url 'login' %}">LogIn</a>
        </small>

    </div>
</section>
{% endblock content %}