{% extends 'dashboard/base.html' %} 
{% load static %} 
{% load crispy_forms_tags %}

{% block content %}
<section class='text-center container'>
    <h2>Search Videos in Youtube</h2><br>
    <p>Search videos and select any video to open in youtube</p>
    <form action="" method="post">
        {% csrf_token %}
        {{form}}
        <input class="btn btn-info" type="submit" value="Submit">
    </form><br>

    {% for result in results %}
    <form action="{% url 'add-bookmark' %}" method="post">
        {% csrf_token %}
    <a href="{{result.link}}" target="_blank">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-5">
                        <img class="img-fluid" src="{{result.thumbnail}}" alt="">
                    </div>
                    <div class="col-md-7">
                        <h3 class="p-0 m-0">{{result.title}}</h3>
                        <b>
                            <u>
                                <h5 class="p-0 m-0">{{result.channel}}</h5>
                            </u>
                        </b>
                        <h6 class="p-0 m-1">{{result.description}}</h6>
                        <b>
                            <h6 class="ml-0 mt-3">{{result.duration}}</h6>
                            <h6 class="ml-0 mt-1">{{result.views}}</h6>
                            <h6 class="ml-0 mt-1">{{result.published}}</h6>
                        </b>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <br>
    <input class="btn btn-info" type="submit" value="Add to Bookmark"><br>
    <input type="hidden" name="title" value="{{result.title}}"> 
    <input type="hidden" value="{{result.link}}" name="url"> 
    <input type="hidden" value="Youtube" name="category"> 
    </form>
    {% endfor %}
    <br>
</section>

{% endblock content %}